In [7]:
import sys
print(sys.version)

3.11.7 (tags/v3.11.7:fa7a6f2, Dec  4 2023, 19:24:49) [MSC v.1937 64 bit (AMD64)]

In [8]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\mahaa\appdata\local\programs\python\python311\lib\site-packages (8.4.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import mysql.connector as connector
from mysql.connector import Error

In [13]:
connection = connector.connect(user = "mahantesh", password = "Lovebird@1", db = "littlelemondb")

In [14]:
cursor = connection.cursor()

In [17]:
cursor.fetchall()
show_tables_query = "SHOW TABLES"
cursor.execute(show_tables_query)
results = cursor.fetchall()
print(results)

[('bookings',), ('customers',), ('deliverystatus',), ('menu',), ('orders',), ('ordersview',), ('staff',)]

In [24]:
cursor.fetchall()
select_stmt = """SELECT c.CustomerName, c.ContactNumber, o.TotalCost
FROM Customers c
INNER JOIN Orders o
ON c.CustomerID = o.CustomerID
WHERE o.TotalCost >= 60;
"""
cursor.execute(select_stmt)
#results = cursor.fetchall()
#print(results)